.beneficios{
  background: linear-gradient(#361F73, #00CE9D);
  width: 50%;
  border-radius: 25px;
  margin: auto;
  padding: 15px;
}

.beneficios__gr{
  margin: 10px 15px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255,.8);
}