.product-section {
  display: inline-block;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  height: 100%;
  width: 500px;
  align-self: center;
}

.product-header {
  display: flex;
  background: none;
}
