.vehiculo{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  width: 60%;
  padding: 10px;
}

.vehiculo h2{
  color: #00CE9D;
  font-size: 20px;
  text-align: center;
}

.vehiculo__datos{
  background: #FFFFFF;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 1px 5px;
  font-size: 16px;
}

@media only screen and (max-width: 500px) {
  .vehiculo{
    width: 90%;
    margin: auto;
  }
}