.vehiculo {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  width: 400px;
  padding: 10px;
  padding-bottom: 25px;
  margin: auto;
  margin-bottom: 10px;
}

.vehiculo h2 {
  color: #00ce9d;
  font-size: 20px;
  text-align: center;
}

.letra-menuda {
  padding: 10px 10px 0 10px;
  text-align: center;
  color: grey;
  font-family: "Overpass", sans-serif;
}

.vehiculo__datos {
  background: #ffffff;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 1px 5px 1px 15px;
  font-size: 16px;
}

@media only screen and (max-width: 550px) {
  .vehiculo {
    width: 90%;
    margin: auto;
  }
}
