@media only screen and (max-width: 900px){

  .header__menu--buscador{
    display: none;
  }
}

@media only screen and (max-width: 700px) {

  .header{
    justify-content: space-between;
    height: 70px;
  }

  .header__img {
    width: 50px;
  }

  .header__img {
      margin-left: 30px;
  }

  .header__menu--hamburguesa{
    display: block;
    margin-right: 20px;
  }

  .header__menu--botones{
    display: none;
  }

  .beneficios__contenedor--grupo .beneficio {
    width: 90%;
  }

  .footer {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}